<% created_at = resource.created_at %>
<% updated_at = resource.updated_at %>
<aside class="resource-date">
<span tooltip="<%= created_at %>">
  <strong>Created: </strong><%= time_ago_in_words(created_at) %> ago.
</span>
<% if updated_at != created_at %>
  <span tooltip="<%= updated_at %>">
    <strong>Edited: </strong><%= time_ago_in_words(updated_at) %> ago.
  </span>
<% end %>
</aside>
