<% provide :title, 'Settings' %>
<% provide :form_button_text, 'Update account' %>
<% provide :form_url, user_path(@user) %>

<h3 class="form-title"><%= yield :title %></h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'form', action: :edit %>

  </div>
</div>
