<% provide :title, 'Users index' %>

<br>

<h3>
  <%= link_to 'Home page', root_path %> / Users
  (<%= "Page: #{@users.current_page}/#{@users.total_pages}" %>)
</h3>

<div class="users-header">

  <!-- User's avatar -->
  <div class="user-head-1">
  </div>

  <!-- User's name -->
  <div class="user-head-2">
    <p>User name</p>
  </div>

  <!-- User joinded -->
  <div class="user-head-3">
    <p>Joined</p>
  </div>

  <!-- User's posts -->
  <div class="user-head-4">
    <p>Posts created</p>
  </div>

  <!-- Users's topics -->
  <div class="user-head-5">
    <p>Topics created</p>
  </div>

</div>

<%= render @users %>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
