<% provide :title, 'Users index' %>

<br>

<h3>
  <%= link_to 'Home page', root_path %> / Users
  (<%= "Page: #{@users.current_page}/#{@users.total_pages}" %>)
</h3>

<div class="row users-index-head">

  <!-- User's avatar -->
  <div class="col-lg-1 user-head-1">

  </div>

  <!-- User's name -->
  <div class="col-lg-4 user-head-2">
    <p>
      User name
    </p>
  </div>

  <!-- User joinded -->
  <div class="col-lg-3 user-head-3">
    <p>
      Joined
    </p>
  </div>

  <!-- User's posts -->
  <div class="col-lg-2 user-head-4">
    <p>
      Posts created
    </p>
  </div>

  <!-- Users's topics -->
  <div class="col-lg-2 user-head-5">
    <p>
      Topics created
    </p>
  </div>

</div>

<%= render @users %>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
