<% # This partial handles all regulal application notices %>
<% # and is rendered once in layouts/application  %>

<% # Regular notices %>
<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>">
    <% # close button %>
    <a href="#" class="close" data-dismis="alert" aria-label="close">
      &times;</a>
    <%= msg %>
  </div>
<% end %>
