<h4 class="media-heading resource-heading">
  <% # Deleted user handling %>
  <% if user.nil? %>
    <br><%= link_to 'user deleted', '#' %>
  <% else %>
    <%= link_to user.name, user, class: 'resource-user-name' %>
  <% end %>
</h4>
