/*
*
* Common for all static pages
*
*/
.page-title {
  text-align: center;
  margin: 50px;
  span { font-family: 'Lobster', cursive; font-size: 45px; color: $main-theme-color;}
}

/*
*
* About page
*
*/

/*
*
* Contact page
*
*/
.contact-page {
  text-align: center;
}
