/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */
$main-theme-color: #79589F;

/* Basic Bootstrap customization */
$navbar-default-bg: $main-theme-color;
$navbar-default-link-color: #F8E6E4;
$navbar-default-link-active-color: #F8E6E4;
$navbar-default-color: #F8E6E4;

@import "bootstrap-sprockets";
@import "bootstrap";

/* Global CSS */
a {
  color: $main-theme-color;
  &:hover {
   text-decoration: none;
 }
}

/* CSS custom tooltip appearance and behavior */
[tooltip]:before {
 /* Core tooltip funcionality */
 position : absolute;
 content  : attr(tooltip);
 opacity  : 0;
 pointer-events: none;
 /* Custom */
 transition: all 0.4s ease;
 padding: 3px;
 color: white;
 border-radius: 10px;
 box-shadow: 1px 1px 0.5px silver;
 font-weight: normal;
 z-index: 1000;
}

[tooltip]:hover:before {
 /* Core tooltip funcionality */
 opacity: 1;
 /* Custom */
 background: black;
 margin-top: 30px;
 margin-left: 20px;
}


/* Basic Bootstrap customization */
.navbar .container-fluid .navbar-header a{
	color: #FFFFFF;
	font-weight: 800;
	font-size: 1.7em;
	padding-top: 0.25em;
}

.list-group-item {
	margin-top: 0.5em;
}

/* Bootstrap primary-btn customization */
.btn-primary {
  @include button-variant(white, $main-theme-color, $main-theme-color);
}

/* Customizing bootstrap styling for will_paginate. */
.pagination {
  li.active {
    span {
      background-color: $main-theme-color;
      border-color: $main-theme-color;
      &:hover {
        background-color: $main-theme-color;
        border-color: $main-theme-color;
      }
    }
  }
  li {
    a {
      color: $main-theme-color;
    }
  }
}

/* Rails automagically wraps form fields with errors with div of this class: */
.field_with_errors {
	/* Extending with funcionality of bootstrap class. */
	@extend .has-error;
		color: red;
}

/* To distance site content from navbar. */
.km-body-container {
	margin-top: 4.5em;
}

/* Others */
.form-title {
	text-align: center;
	font-weight: 600;
}

.empty-resource-notice {
	text-align: center;
}

/* Resource styling. Used to syle posts and topics on topic show page. */
/* Applies to resource as a whole. */
.resource {
	border-bottom: 1px solid $gray-lighter;
	margin-bottom: 2px;
	padding: 5px;
}
/* Applies to left side of the resource, where user avatar is displayed.*/
.resource-avatar {
  span.glyphicon {
    font-size: 80px;
  }
}
/* Applies to right side of the resource, where post/topic content is */
/* displayed. */
.resource-body {

}

/* Resource date. Post created_at for example. */
.resource-date {
	float: right;
	vertical-align: bottom;
}

.resource-heading {
	font-weight: 200;
}

/*
 *
 * Topics index (Category show)
 *
 */
table.topics-table {
	border-collapse: collapse;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
  overflow-x: auto;

  a {
    color: #222;
  }

	thead {
		td.topic {
			text-align: left;
      width: 50%;
      min-width: 200px;
      color: #919191
		}
		td.author {
      color: #919191
		}
		td.posts {
      color: #919191;
		}
		td.activity {
      color: #919191
		}
	}

	tbody {
		td.topic {
			text-align: left;
			vertical-align: middle;
      width: 50%;
      min-width: 200px;
		}
		td.author {
			vertical-align: middle;
      text-align: center;
      a {
        color: black;
        font-size: 12px;
      }
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
        height: 30px;
        width: 30px;
			}
      span.glyphicon {
        font-size: 30px;
      }
		}
		td.posts {
			vertical-align: middle;
      color: #919191

		}
		td.activity {
      text-align: left;
			vertical-align: middle;
      color: #919191;
      .post-preview {
        font-style: italic;
      }
		}
	}
}

.new_btn {
  margin: 20px 45px;
}

/*
 *
 * Categories index
 *
 */

 /* Jumbotron sandbox notice on the main page */
 div.sandbox-notice {
   text-align: center;
   p {

   }
   table {
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     width: 30%;

   }
 }

/* Head row for categories list */
div.categories-index-head {
  /* Creates pseudo element just to create bottom border for this row. */
  &:after {
    content: "";
    display: block;
    border-bottom: 2px solid #ccc;
    margin: 0 0px 15px 0px;
  }

  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #919191;

  div.cat-head-1 {

  }
  div.cat-head-2 {

  }
  div.cat-head-3 {
    text-align: center;
  }
  div.cat-head-4 {
    text-align: center;
  }
  div.cat-head-5 {
    text-align: center;
  }
}

div.categories-index-body {
  /* Thanks to those two lines vertival aligment is possible. */
  display: flex;
  align-items: center;

  font-family: Helvetica, Arial, sans-serif;

  &:hover {
    background-color: $gray-lighter;
  }

  border-bottom: 1px solid #ccc;

  div {
    margin-bottom: 5px;
  }
  /* Icon cell */
  div.cat-cell-1 {
    img {
      width: 36px;
      height: 36px;
      margin: 5px
    }
  }
  /* Title & description cell */
  div.cat-cel-2 {

  }
  /* Posts count cell */
  div.cat-cell-3 {
    text-align: center;
    font-size: 14px;
    color: #919191;
  }
  /* User avatar cell */
  div.cat-cell-4 {
    text-align: center;
    a {
      color: black;
      font-size: 12px;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 36px;
      height: 36px;
    }

    span.glyphicon {
      font-size: 35px;
    }
  }

  /* Last activity cell */
  div.cat-cell-5 {
    font-size: 14px;
    a {
      color: black;
    }
    span {
      color: #919191;
    }
    .post-preview {
      font-style: italic;
    }
    .post-preview {
      font-style: italic;
    }
  }
}

/*
 *
 * Users index
 *
 */

 /* Head row for users list */
 div.users-index-head {
   /* Creates pseudo element just to create bottom border for this row. */
   &:after {
     content: "";
     display: block;
     border-bottom: 2px solid #ccc;
     margin: 0 0px 15px 0px;
   }

   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #919191;

   div.user-head-1 {

   }
   div.user-head-2 {

   }
   div.user-head-3 {
     text-align: center;
   }
   div.user-head-4 {
     text-align: center;
   }
   div.user-head-5 {
     text-align: center;
   }
 }

 div.users-index-body {
   /* Thanks to those two lines vertival aligment is possible. */
   display: flex;
   align-items: center;

   font-family: Helvetica, Arial, sans-serif;

   &:hover {
     background-color: $gray-lighter;
   }

   border-bottom: 1px solid #ccc;

   div {
     margin-bottom: 5px;
   }

   /* User's avatar */
   div.user-cell-1 {
     img {
       width: 36px;
       height: 36px;
       margin: 5px;
     }
   }

   /* User's name */
   div.user-cell-2 {
     h4 {
       a {
         color: black;
       }
     }
   }

   /* User joinded */
   div.user-cell-3 {
     text-align: center;
     color: #919191;
   }

   /* User's posts */
   div.user-cell-4 {
     text-align: center;
     color: #919191;
   }

   /* User's topics */
   div.user-cell-5 {
     text-align: center;
     color: #919191;
   }
 }







aside.edit-delete-links {
	a {
		color: $gray;
		font-weight: bolder;
	}
	a:hover {
		color: black;
	}
}
