/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */
$main-theme-color: #79589F;

/* Basic Bootstrap customization */
$navbar-default-bg: $main-theme-color;
$navbar-default-link-color: #F8E6E4;
$navbar-default-link-active-color: #F8E6E4;
$navbar-default-color: #F8E6E4;

@import "bootstrap-sprockets";
@import "bootstrap";

/* global CSS */
a {
  color: $main-theme-color;
  &:hover {
   text-decoration: none;
 }
}

/* CSS custom tooltip appearance and behavior */
[tooltip]:before {
 /* core funcionality */
 position : absolute;
 content  : attr(tooltip);
 opacity  : 0;
 pointer-events: none;
 /* custom */
 transition: all 0.4s ease;
 padding: 3px;
 color: white;
 border-radius: 10px;
 box-shadow: 1px 1px 0.5px silver;
 font-weight: normal;
 z-index: 1000;
}

[tooltip]:hover:before {
 /* core funcionality */
 opacity: 1;
 /* custom */
 background: black;
 margin-top: 30px;
 margin-left: 20px;
}


/* Basic Bootstrap customization */
.navbar .container-fluid .navbar-header a{
	color: #FFFFFF;
	font-weight: 800;
	font-size: 1.7em;
	padding-top: 0.25em;
}

.list-group-item {
	margin-top: 0.5em;
}

.btn-primary {
  @include button-variant(white, $main-theme-color, $main-theme-color);
}

/* Rails automagically wraps form fields with errors with div of this class: */
.field_with_errors {
	/* Extending with funcionality of bootstrap class */
	@extend .has-error;
		color: red;
}

/* To distance site content from navbar */
.km-body-container {
	margin-top: 4.5em;
}

/* others */
.form-title {
	text-align: center;
	font-weight: 600;
}

.empty-resource-notice {
	text-align: center;
}

/* edit/delete resource buttons */
.edit-delete-btns {
	text-align: right;
}

.users-list {
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1.5px solid $gray-lighter;

		/* unvisited link */
		a:link {
			color: #4B515D;
		}

		/* visited link */
		a:visited {
			color: #4B515D;
		}

		/* mouse over link */
		a:hover {
			color: black;
		}

		/* selected link */
		a:active {
			color: #0d47a1;
		}
  }
}

/* Resource styling. Used to syle posts and topics on topic show page. */
/* Applies to resource as a whole. */
.resource {
	border-bottom: 1px solid $gray-lighter;
	margin-bottom: 2px;
	padding: 5px;
}
/* Applies to left side of the resource, where user avatar is displayed */
.resource-avatar {

}
/* Applies to right side of the resource, where post/topic content is */
/* displayed */
.resource-body {

}

/* Resource date. Post created_at for example... */
.resource-date {
	float: right;
	vertical-align: bottom;
}

.resource-heading {
	font-weight: 200;
}

.resource-edit-delete {
	margin-left: 90px;
	a {
		color: $gray;
		font-weight: bolder;
	}
	a:hover {
		color: black;
	}
}

/* Category show aka Topic index. */
table.topics-table {
	border-collapse: collapse;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
  overflow-x: auto;

  a {
    color: #222;
  }

	thead {
		td.topic {
			text-align: left;
      width: 50%;
      min-width: 200px;
      color: #919191
		}
		td.author {
      color: #919191
		}
		td.replies {
      color: #919191;
		}
		td.activity {
      color: #919191
		}
	}

	tbody {
		td.topic {
			text-align: left;
			vertical-align: middle;
      width: 50%;
      min-width: 200px;
		}
		td.author {
			vertical-align: middle;
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
        height: 30px;
        width: 30px;
			}
		}
		td.replies {
			vertical-align: middle;
      color: #919191

		}
		td.activity {
			vertical-align: middle;
      color: #919191
		}
	}
}

.topic-edit-delete {
  font-weight: bolder;
}

.topic-peek {
  font-style: italic;
  color: $gray;
}

.new_btn {
  margin: 20px 0;
}
