/* Forms */
/* Rails automagically wraps form fields with errors with div of this class: */
.field_with_errors {
	/* Extending with funcionality of bootstrap class. */
	@extend .has-error;
	color: red;
}
.form-title { text-align: center; font-weight: 600; }


.form-common {
	textarea {
		resize: vertical;
		min-height: 300px;
	}
}

.new_category, .edit_category {
	@extend .form-common;
}

.new_topic, .edit_topic {
	@extend .form-common;
}

.new_post, .edit_post {
	@extend .form-common;
}
