/* Global CSS */
$main-theme-color: #79589F;

/* Default behaviour for app links */
body {
  font-family: Helvetica, Arial, sans-serif;
  a {
    color: $main-theme-color;
    &:hover { text-decoration: none; }
  }
}

/* CSS custom tooltip appearance and behavior */
[tooltip]:before {
 /* Core tooltip funcionality */
 position : absolute;
 content  : attr(tooltip);
 opacity  : 0;
 pointer-events: none;
 /* Custom */
 transition: all 0.4s ease;
 padding: 3px;
 color: white;
 border-radius: 10px;
 box-shadow: 1px 1px 0.5px silver;
 font-weight: normal;
 z-index: 1000;
}

[tooltip]:hover:before {
 /* Core tooltip funcionality */
 opacity: 1;
 /* Custom */
 background: black;
 margin-top: 30px;
 margin-left: 20px;
}
