<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
  	<div class="container">
  		<%= render 'layouts/navbar' %>
  		<div class="km-body-container">

        <%= render 'shared/notices' %>

    		<%= yield %>
    	</div>
    </div>

    <!-- temporary -->
    <br>
    <br>
    <br>
    <br>

  </body>
</html>
